{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form id="parse-form" class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <div id="address-results" class="result">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="address-parse-error" class="result error">
        <h4>Unable to parse that address: <span class="exception-name"></span></h4>
      </div>
      <div id="server-error" class="result error">
        <h4>Couldn't contact the server. Try again in a sec!</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">

    // Wire up the main form
    $(() => {
      $('#parse-form').on('submit', onSubmit);
    });

    // Handle the form submission
    const onSubmit = async e => {
      // "Submit" event reloads the page by default, so:
      e.preventDefault();

      let response;

      // Serialize our form data
      const formElems = e.target.elements; 
      const data = {
        address: formElems.address.value // More scalable than $('#address').val() :)
      }

      // Send the AJAX request with our form data, catching any errors
      try {
        response = await sendRequest(data);
        onAJAXSuccess(response);
      } catch (err) {
        onAJAXError(err, err.responseJSON);
      }
    }

    // Send an AJAX request with data to the API
    const sendRequest = async data => {
      // Good to have this in a separate function in case we want to work with headers or other AJAX params here
      return await $.get({
        url: "api/parse/",
        data: data,
        dataType: "json",
      });
    }

    // Handle errors in the request
    const onAJAXError = (err, res) => {
      $('.result').hide();

      const isInternalError = Math.floor(err.status / 100) == 5;

      if (isInternalError) {
        console.error(res.message);
        $('#address-parse-error')
          .show()
          .find('.exception-name')
          .text(res.error)
      } else {
        $('#server-error').show();
      }
      
    }

    // On a good response, render the appropriate HTML
    const onAJAXSuccess = res => {
      // Store some elements
      const $results = $('#address-results'),
            $type = $('#parse-type'),
            $tbody = $results.find('table>tbody');

      // Write the address type
      $type.text(res.type);

      // Clear out any previous table rows
      $tbody.empty();

      // Write rows to the table
      $.each(res.components, (part, tag) => {
        $(`<tr>
            <th>${part}</th>
            <th>${tag}</th>
          </tr>`)
          .appendTo($tbody);
      });

      // Show the results
      $results.show();
    }
  </script>
{% endblock %}
